
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 350 91% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 331 48% 36%;
    --secondary-foreground: 0 0% 100%;

    --muted: 340 35% 24%;
    --muted-foreground: 0 0% 88%;

    --accent: 340 50% 23%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 349 93% 61% / 30%;
    --input: 349 93% 61% / 20%;
    --ring: 350 91% 53%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 350 91% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 350 91% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
